html{
  background: grey;
}

body {
  margin: 0;
}

#parallax_container {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto; 
}


.layer_z1 {
   z-index: 2;
   position: absolute;
   top: 100px;
   height: 100px;
   background-color: red;
   width: auto;
}

.layer_z0 {
  transform: translateZ(-2px) scale(3); 
  margin: 0; 
  z-index: 0;
  position: relative;
  
}


.image1{
  background: url('bike1.jpg') no-repeat center;
  height: 600px;
  margin: 0;
}

.image2{
  background: url('bike2.jpg') no-repeat center;
  height: 600px;
  margin: 0;
}

.text{
  color:white;
  font-family: 'Open Sans' , sans-serif;
  font-size: 25px;
  position: relative;
  text-align: center;
}

