html {
  margin: 0;
}
body {
  margin: 0;
}
.section {
  width: 100%;
  height: 1200px;
  background: url('bike3.jpg') no-repeat;
  
}

.section .inner{
  width: 100%;  
  font-family: 'Josefin Slab', serif;
  text-align: center;
  color: white;
  font-size: 40px;
  padding-top: 300px;
  
}

.section2 {
  font-family: 'Josefin Slab', serif;
  text-align: center;
  font-size: 20px;
  margin-top: -650px;
  margin-right: 100px;
  color: white;
  width: 100%;
  font-weight: 600;
}

.donotshow {
  display: none;
}

#heading_container{
  font-family: 'Josefin Slab', sans-serif;
  font-size: 3em;
  margin-top: 120px;
  z-index: -10;
  position: relative;
}

#heading_container>h1{
  text-align: center;
}

.content_container{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;  
  flex-direction: row;
  margin: 5px;
  margin-top: 250px;
  justify-content: space-around;
}

.image_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;  
  flex-direction: row;
  margin: 5px;
  margin-top: 150px;
  justify-content: space-around;
  flex-shrink: 1
}

@media screen and (max-width: 1349px) {
   .image_container{
    flex-direction: column;
   }
}



.contentbox_small { 
  font-family: 'Josefin Slab', sans-serif;
  flex:1;
  margin: 5px;
  font-size: 1.5em;
}

.contentbox_middle {
  
  font-family: 'Josefin Slab', sans-serif;
  flex:2;
  font-size: 1.5em;
}

.contentbox_large{
  
  font-family: 'Josefin Slab', sans-serif;
  flex:3;
  font-size: 1.5em;
}

.imagebox_small {
  width: auto;
  height: 400px;
}

.imagebox_small img{
  max-width: 500px;
  max-height: 300px;
  width: auto;
  height: auto;
  display: block;
}